/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v7/kmKnZrc3Hgbbcjq75U4uslyuy4kn0pNe.ttf) format('truetype');
}
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cutive Mono Regular'), local('CutiveMono-Regular'), url(https://fonts.gstatic.com/s/cutivemono/v8/m8JWjfRfY7WVjVi2E-K9H6RCTms.ttf) format('truetype');
}
@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url(https://fonts.gstatic.com/s/sharetechmono/v9/J7aHnp1uDWRBEqV98dVQztYldFcLowEA.ttf) format('truetype');
}
html,
body {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: 'Libre Baskerville', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
}
p,
a {
  font-size: 1.5rem;
}
.Header {
  background-color: #fafaf9;
  padding: 1%;
}
nav {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  flex-direction: column;
  align-items: center;
}
.LeftNav {
  padding: 1% 0% 0% 10%;
}
a {
  text-decoration: overline;
  margin: 1%;
  text-decoration-color: white;
  color: #968d8d;
}
a:hover {
  color: black;
}
@media (max-width: 500px) {
  a:hover {
    text-decoration: none;
    border: 1px solid white;
  }
}
.TopSection {
  background-color: white;
  position: relative;
}
@media (max-width: 500px) {
  img {
    display: none;
  }
}
@media (max-width: 700px) {
  img {
    width: 40%;
  }
}
.bird {
  max-width: 100%;
  height: fit-content;
  text-align: center;
}
.bird img {
  opacity: 0.6;
  border-image-slice: 100%;
}
.bottom-left {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: black;
  padding-right: 750px;
  padding-bottom: 80px;
}
h1 {
  font-size: 4rem;
  padding: 1%;
  text-align: center;
  font-weight: bold;
}
h2 {
  text-align: center;
  padding: 2%;
}
@media (max-width: 300px) {
  h2 {
    display: none;
  }
}
@media (max-width: 700px) {
  h2 {
    font-size: 1.5rem;
  }
}
.MiddleSection {
  background-color: #faf9f9;
  border-top: gray 2px solid;
  border-bottom: gray 2px solid;
  margin: 0% 4%;
  padding: 2%;
  display: flex;
  justify-content: center;
}
.MiddleSection h2 {
  text-align: center;
  padding: 2%;
}
@media (max-width: 300px) {
  .MiddleSection h2 {
    padding: 10%;
  }
}
.SkillsSection {
  margin-top: 5%;
  display: flex;
  font-size: 1.5rem;
  word-spacing: 30%;
}
.BottomSection {
  background-color: white;
  margin: 0% 4%;
  padding: 2%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1.5em;
}
.BottomSection h2 {
  text-align: center;
  padding: 2%;
}
@media (max-width: 300px) {
  .BottomSection h2 {
    padding: 10%;
  }
}
@media (max-width: 300px) {
  .BottomSection h2 h3 {
    padding: 10%;
  }
}
ul {
  padding: 1px;
  padding-left: 100px;
}
.Lsection {
  display: flex;
  flex-direction: column;
}
.social-icons {
  text-align: center;
}
.social-icons li {
  display: inline-block;
  list-style-type: none;
}
.social-icons li a {
  border-bottom: none;
}
.social-icons li img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.TopAbout {
  display: flex;
  border-bottom: gray 2px solid;
}
.MyImage {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin: 50%;
  display: block;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.AboutSection {
  padding: 10% 30% 10% 30%;
  line-height: 5em;
}
.Contact {
  background-color: #faf9f9;
  margin: 0% 4%;
  padding: 2%;
}
.Contact h2 {
  text-align: center;
  padding: 2%;
}
.Contact p {
  text-align: center;
}
.Contact .AboutTop {
  background-color: white;
  display: flex;
  margin: 0% 1%;
  padding: 1%;
}
@media (max-width: 500px) {
  .Contact .AboutTop img {
    display: none;
  }
}
@media (max-width: 700px) {
  .Contact .AboutTop img {
    width: 40%;
  }
}
.Contact img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.Projects {
  display: flex;
  flex-wrap: wrap;
}
.Projects img {
  width: 30%;
}
.Projects h3,
h4 {
  padding-left: 3%;
  padding-top: 3%;
}
.Projects p {
  margin: 4%;
  line-height: normal;
}
.Projects div {
  display: flex;
  justify-content: center;
  margin: 3%;
  border: rgba(0, 0, 0, 0.19) 1px solid;
}
.ProjectOne {
  display: flex;
}
