// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Share+Tech+Mono&display=swap');



//Variables

@main-font:'Libre Baskerville', serif;
@title-font: 'Libre Baskerville', serif;
@PrimaryColor: white;
@SecondaryColor: rgb(250, 249, 249);

//Mixin

.H2(){
	text-align: center;
	padding: 2%;
}

html, body {
	font-size: 62.5%;
	height: 100%;	
	
}
body{
	font-family: @main-font;
}
h1, h2, h3, h4, h5 {
	font-size: 2rem;
	font-weight: bold;
	font-family: @title-font;
}
p, a{
	font-size: 1.5rem;
}

.Header{
	background-color:rgb(250, 250, 249);
	padding: 1%;
	
}
   nav{
	   display: flex;
	   justify-content: flex-end;
	  
	   
   }

   
   		@media( max-width: 500px){
			flex-direction: column;
			align-items: center;
		   }
		   
	.LeftNav{
		padding: 1% 0% 0% 10%;
	}
	

	a{
		text-decoration: overline;
		margin:1%;
		text-decoration-color: @PrimaryColor;
		color: rgb(150, 141, 141);
		
	
		
		&:hover{
			color: black;
			
			

		@media( max-width: 500px) {
			text-decoration: none;
			border: 1px solid @PrimaryColor;
			}
		}
	}



.TopSection{
	background-color: @PrimaryColor;
	position: relative;	
}
	img{

	@media( max-width: 500px) {
		display: none;
		}
		@media( max-width: 700px){
			width: 40%;
			}
		}
	

.bird{
		max-width: 100%;
		height: fit-content;
		text-align: center;
	
	}

.bird img{
	opacity: 0.6;
	border-image-slice: 100%;
}

.bottom-left{
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color:transparent;
	color: black;
	padding-right: 750px;
	padding-bottom: 80px;
}  




//.LeftSide{
//	width: 50%;
//	margin-left: 15%;
	
//}
//.RightSide{
//	width: 50%;
//	display: flex;
//	align-items: center;


	h1{
		font-size: 4rem;
		padding: 1%;
		text-align: center;
		font-weight: bold;
	}

	h2{
		.H2();
	

		@media( max-width: 300px) {
			display: none;
		}

		@media( max-width: 700px){
			font-size: 1.5rem;
		}
	
	}
	


.MiddleSection{
	background-color: @SecondaryColor;
	border-top: gray 2px solid;
	border-bottom: gray 2px solid;
	margin: 0% 4%;
	padding: 2%;
	display: flex;
	justify-content: center;

	h2{
		.H2();

		@media( max-width: 300px) {
			padding: 10%;
		}
	}

}


.SkillsSection {
	margin-top: 5%;
	display: flex;

	justify-content: center;
	font-size:1.5rem;

}




.BottomSection{
	background-color: @PrimaryColor;
	margin: 0% 4%;
	padding: 2%;
	display: flex;
	justify-content: space-around;
	font-size: 1.5rem;
	line-height: 1.5em;

	h2{
		.H2();

		@media( max-width: 300px) {
			padding: 10%;
		}
	
	h3{
	
		@media( max-width: 300px) {
			padding: 10%;
				}
			}
		}
	}
	.social-icons {
		text-align: center;
		}  
	  .social-icons li {
		display:inline-block;
		list-style-type:none;
		
		}
	  .social-icons li a {
		border-bottom: none;
		}
	  .social-icons li img {
		width:40px;
		height:40px;
		margin-right: 20px;
	  }

	.TopAbout{
		display: flex;
		border-bottom: gray 2px solid;
	}

	.MyImage{
		max-width: 100%;
		height: auto;
		border-radius: 50%;
		margin: 50%;
		display: block; 
		box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	}
	
	.AboutSection{
		padding: 10% 30% 10% 30%;
		line-height: 5em;
	}

	.Contact{
		background-color: @SecondaryColor;
		margin: 0% 4%;
		padding: 2%;
	
		h2{
			.H2();
		}
	
		p{
			text-align: center;
		}

		.AboutTop {
			background-color: @PrimaryColor;
			display: flex;
			margin: 0% 1%;
			padding: 1%;
		
			img{
		
				@media( max-width: 500px) {
					display: none;
				}
				@media( max-width: 700px){
					width: 40%;
					}
				}
			}	
		img{
			max-width: 100%;
			max-height: 100%;
			display: block; 
		
		}
	}

	.Projects{
		display: flex;
		flex-wrap: wrap;
		
	}

	.Projects img{
		width: 30%;
		
	}

	.Projects h3{
		padding-left: 15%;
	}
	.Projects p{
		margin: 3%;
		
	}

	.Projects div{
		display: flex;
		justify-content: center;
		margin:3%;
		
		border: rgba(0, 0, 0, 0.19) 1px solid;
	}



	


   
